/*Color naranja de la pagina: #f0ad4e;*/
*{
  margin: 0;
  padding: 0;
}
body{
    background-image: url(../img/LibroIS.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.centradormiddle{
  text-align: center;
  align-items: center;
  align-content: center;
}
.oscuro{
  background-color: #191919;
  color: white;
}
.naranjita{
  background-color: orange;
}
article{
  background-color: rgba(255, 184, 43, 0.6);
  color: white;
}
aside{
  background-color: rgba(25, 25, 25, 0.8);
  color: white;
}
#derecha{
  width: 100%;

}
#derechatel{
  width: 30%;
  margin-left: 70%;
}
#izquierda{
  width: 100%;

}
.izquierda{
  display: inline-block;
  margin-left: 0%;
}
.derechadiv{
  display: inline-block;
  margin-left: 6%;
}
.container{
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}
/**********File Inputs**********/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
	font-size:16px;
	font-weight:normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* style 1 */

.inputfile-1 + label {
    color: #fff;
    background-color: #ec9b1b;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #d47e03;
}

/* style 2 */

.inputfile-2 + label {
  font-family: monospace;
  color:#ffc107;
  background-color: transparent;
  background-image: none;
  border-color: #ffc107;
  border: 1px solid #ffc107;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

/* style 3 */

.inputfile-3 + label {
    color: #ccc;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #ec9b1b;
}

/* style 4 */

.inputfile-4 + label {
    color: #ccc;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #ec9b1b;
}

/* style 5 */

.inputfile-5 + label {
    color: #ec9b1b;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #d47e03;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ec9b1b;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #d47e03;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}

/* style 6 */

.inputfile-6 + label {
    color: #ec9b1b;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    color: #d47e03;
}

.inputfile-6 + label figure {
    width: 100px;
    height: 135px;
    background-color: #ec9b1b;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-6:focus + label figure,
.inputfile-6.has-focus + label figure,
.inputfile-6 + label:hover figure {
    background-color: #d47e03;
}

.inputfile-6 + label figure::before,
.inputfile-6 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-6 + label figure::before {
    border-top: 20px solid #05354e;
    border-left: 20px solid transparent;
}

.inputfile-6 + label figure::after {
    border-bottom: 20px solid #d47e03;
    border-right: 20px solid transparent;
}

.inputfile-6:focus + label figure::after,
.inputfile-6.has-focus + label figure::after,
.inputfile-6 + label:hover figure::after {
    border-bottom-color: #ec9b1b;
}

.inputfile-6 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}

/* style 7 */

.inputfile-7 + label {
    color: #ec9b1b;
}

.inputfile-7 + label {
    border: 1px solid #ec9b1b;
    background-color: #fff;
    padding: 0;
}

.inputfile-7:focus + label,
.inputfile-7.has-focus + label,
.inputfile-7 + label:hover {
    border-color: #d47e03;
}

.inputfile-7 + label span,
.inputfile-7 + label strong {
    padding: 0.625rem 1.25rem;
}

.inputfile-7 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-7 + label strong {
    height: 100%;
    color: #fff;
    background-color: #ec9b1b;
    display: inline-block;
}

.inputfile-7:focus + label strong,
.inputfile-7.has-focus + label strong,
.inputfile-7 + label:hover strong {
    background-color: #d47e03;
}

@media screen and (max-width: 50em) {
	.inputfile-7 + label strong {
		display: block;
	}
}
/**********End File Inputs**********/
